html {
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(rgb(48, 48, 48), rgb(0, 0, 0));
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: white;
    /* overflow-x: hidden; */
    background-attachment: fixed;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: white;
    background-attachment: fixed;
}

.navBlocks {
    width: 33%;
    display: inline-block;
}