body {
    background: linear-gradient(to bottom left, rgb(230, 87, 87), rgb(119, 29, 50));
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: white;
    /* overflow-x: hidden; */
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

